
<ul>
  <li *ngFor="let beer of beers" >
      <div class="col">ID: {{beer.id}}</div>
      <div class="col">Variety: {{beer.variety}}</div>
      <div class="col">Description: {{beer.description}}</div>
      <div class="col">Min Temperature: {{beer.minTemperature}} ºC</div>
      <div class="col">Max Temperature: {{beer.maxTemperature}} ºC</div>
      <div class="col">Current Temperature: {{beer.currentTemperature}} ºC</div>
      <div class="col">Current Temperature Out Of Range: <span [className]="beer.currentTemperatureOutOfRange ? 'danger' : 'success'">{{beer.currentTemperatureOutOfRange ? 'Yes' : 'No'}}</span></div>
      <br />
  </li>
</ul> 

<router-outlet></router-outlet>
